:root {
  --bgBlack: #000;
  --bgBlackBlue: #01303f;
  --bgBlackBlue2: #02577a;
  --bgBlackBlue3: #02577ae0;
  --bgWhiteBlue: #02a9f7;
  --bgWhiteBlue2: #89d6fb;
  --bgWhiteBlue3: #d4f0fc;
  --pink: #df0e62;
  --white: #fff;
}
body {
  line-height: 1.7;
  background-color: #f8f9fa !important;
  font-weight: 400;
  font-size: 1rem;
  background: var(--white);
}
a {
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", arial, sans-serif;
}
img#video-stream,
img.img-fluid {
  border-radius: 14px;
}
h2.heading.text-uppercase.text-dark {
  margin-bottom: 0;
}
button.btn-toggle {
  font-size: 14px;
  font-weight: 600;
}

/* #section-Videos  */
.main-content {
  width: 80%;
  overflow: hidden;
}
.main-content .photos .photo-item img,
button.btn.p-3.rounded.w-100.btn-danger {
  border-radius: 14px !important;
}
hr {
  background: #88888880;
  width: 60%;
  height: 1.5px;
}

article.col-12.col-md-6.col-lg-4.aos-init.aos-animate {
  margin-bottom: 15px;
}

.form-control:active,
.form-control:focus {
  color: #000;
  background: none;
  box-shadow: none;
  outline: none;
  border-color: #000;
}

.site-section {
  padding: 3em 0;
}

footer {
  overflow: hidden;
}
.footer {
  background-color: #343a40;
}
.footer p {
  color: #fff;
  font-size: 22px;
  font-style: italic;
  font-family: emoji;
}
.footer a {
  color: #2c91ff;
}
